.git
.gitignore
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.venv
**/node_modules
**/dist
**/.env
**/.env.*
!**/.env.example
Backend/chatbot.db
Backend/cache
Backend/data/eval/results*
